<div class="page-header">
  <%= link_to clientes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_cliente_path(@cliente), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Alterar
  <% end %>
  <h1>Mostrar cliente</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @cliente.nome %></dd>

  <dt>Cpf:</dt>
  <dd><%= @cliente.cpf %></dd>

  <dt>Cep:</dt>
  <dd><%= @cliente.cep %></dd>

  <dt>Estado:</dt>
  <dd><%= @cliente.estado %></dd>

  <dt>Rua:</dt>
  <dd><%= @cliente.rua %></dd>

  <dt>Numero:</dt>
  <dd><%= @cliente.numero %></dd>

</dl>
