<div class='container'>
  <div class='row'>
    <form action="/alugar/<%= @veiculo.id %>" method='POST'>
      <div class='row'>
        <div class='col-lg-7 itemLista'>
          <div class='col-lg-4'>
            <p style=' text-align: center; font-weight: bold; font-size: 1.5em;'><%= @veiculo.nome %></p>
            <img src='https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/cars-subcontent/04-images/novo-onix-branco-summit.png' style='max-width: 100%;'>
          </div>
          <div class='col-lg-6 detalhesContainer'>
            <div class='detalhesVeiculo'>
              <p class="card-text">Qntd Passageiros</p>
              <p><%= @veiculo.qnt_passageiros %></p>
            </div>
            <div class='detalhesVeiculo'>
              <p class="card-text">Marca</p>
              <p><%= @veiculo.marca.nome %></p>
            </div>
            <div class='detalhesVeiculo'>
              <p class="card-text">Cor</p>
              <p><%= @veiculo.cor %></p>
            </div>
          </div>
          <div class='col-lg-6 ofertasInfo'>
            <h4>Incluso no preço:</h4>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='row'>
                  <div class='col-lg-7'>
                    <p>Melhor preço Garantido</p>
                  </div>
                  <div class='col-lg-7'>
                    <p>Sem taxa de alteração</p>
                  </div>
                </div>
                <div class='row'>
                  <p>Taxas da Locadora</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-lg-4 pagamentoContainer'>
            <div class='col-sm-12'>
              <div class='row' style='border-bottom: 1px solid #fff;'>
                <p style=' text-align: center; font-weight: bold; font-size: 1.5em;'><%= @veiculo.nome %></p>
              </div>
              <dl class="dl-horizontal" style='text-align: center;'>
                <dt>Valor/Dia</dt>
                <dd>
                  <%= number_to_currency(@veiculo.valor) %>
                </dd>
                <dt>Qnt Dias</dt>
                <dd>
                  <select name="dias" id="dias" class="custom-select" style='max-width:90px;' onchange="atualizaTotal(<%= @veiculo.valor %>)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                  </select>
                </dd>
                <dt>Valor Total</dt>
                <dd>
                  <p id='valorTotal'><%= number_to_currency(@veiculo.valor) %></p>
                </dd>
              </dl>
            </div>
            <input type="submit" value="Alugar" class='btn btn-success' style='margin: auto; display: block; padding: 9px 32px; font-size: 1.2em;' onclick="finalizaPagamento(event, <%= @veiculo.valor %>, <%= @veiculo.id %>)">
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12' style='max-width: 500px; margin: auto;'>
          <div class="form-group">
            <div class="col-sm-12">
              <%= label_tag :cardNumber,"Número do Cartão" %>
              <input type="text" class='form-control credit_card' name='cardNumber' id='cardNumber'>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= label_tag :cardName,"Nome no Cartão" %>
              <input type="text" class='form-control' name='cardName' id='cardName'>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= label_tag :expirationDate,"Data de validade" %>
              <input type="month" class='form-control' name='expirationDate' id='expirationDate'>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <%= label_tag :cvv,"CVV" %>
              <input type="text" class='form-control cvv' name='cvv' id='cvv'>
            </div>
          </div>
        </div>
      </div>
    </form> 
  </div>
</div>

<script>
  $('.credit_card').mask('0000.0000.0000.0000');
  $('.cvv').mask('000');

  PagSeguroDirectPayment.setSessionId("<%= @session_id %>" );

  function atualizaTotal(valorVeiculo) {
    const qntDias = document.getElementById('dias').value;
    document.getElementById('valorTotal').innerText = "R$" + parseInt(qntDias) * valorVeiculo;
  }

  function finalizaPagamento(e, valor_veiculo, veiculo_id) {
    e.preventDefault();
    const cardNumber = document.getElementById('cardNumber').value;
    const cardNumberFiltered = cardNumber.replaceAll('.', '');
    const bin = cardNumberFiltered.substring(0, 6)

    const cardName = document.getElementById('cardName').value;

    const expirationDate = document.getElementById('expirationDate').value;
    const expirationMonth = expirationDate.split('-')[1];
    const expirationYear = expirationDate.split('-')[0];

    const cvv = document.getElementById('cvv').value;

    const qntDias = document.getElementById('dias').value;
    const valorTotal = valor_veiculo * qntDias;
    debugger;
    PagSeguroDirectPayment.getPaymentMethods({
        amount: valorTotal,
        success: function(response) {
          debugger;
          PagSeguroDirectPayment.onSenderHashReady(function(response){
            if(response.status == 'error') {
                console.log(response.message);
                return false;
            }
            var hash = response.senderHash;
            setTimeout(function(){
              PagSeguroDirectPayment.getBrand({
                cardBin: bin,
                success: function(response) {
                  console.log(response)
                  const brand = response.brand.name
                  PagSeguroDirectPayment.getInstallments({
                      amount: valorTotal,
                      maxInstallmentNoInterest: 12,
                      brand: brand,
                      success: function(response){
                        console.log(response);
                        PagSeguroDirectPayment.createCardToken({
                          cardNumber: cardNumberFiltered, // Número do cartão de crédito
                          brand: brand, // Bandeira do cartão
                          cvv: cvv, // CVV do cartão
                          expirationMonth: expirationMonth, // Mês da expiração do cartão
                          expirationYear: expirationYear, // Ano da expiração do cartão, é necessário os 4 dígitos.
                          success: function(response) {
                            $.post("/alugar/" + veiculo_id, {
                              dias: qntDias,
                              token: response.card.token,
                              senderHash: hash,
                            }, function(data, status) {
                              console.log(data);
                            })
                            console.log(response);
                            // Retorna o cartão tokenizado.
                          },
                          error: function(response) {
                            alert("Erro ao tentar gerar token de cartão de crédito");
                          },
                          complete: function(response) {
                            console.log(response);
                            // Callback para todas chamadas.
                          }
                        });
                    },
                      error: function(response) {
                        alert("Erro ao verificar quantidade de parcelas disponíveis");
                    },
                      complete: function(response){
                        console.log(response);
                    }
                  });
                },
                error: function(response) {
                  alert("Erro ao checar bandeira de cartão de crédito")
                },
                complete: function(response) {
                  //tratamento comum para todas chamadas
                }
              });
            }, 5000)
        });
        },
        error: function(response) {
          alert("Erro ao gerar Hash de Pagamento");

        },
        complete: function(response) {

        }
    });
  }
</script>

<style>
  .pagamentoContainer {
    background-color: #ccc;
    margin-left: 25px;
    padding: 15px;
    min-height: 250px;
  }

  .ofertasInfo {
    padding-left: 5%;
  }

  .ofertasInfo p, .ofertasInfo h4{
    color: green;
  }
  .itemLista {
    background-color: #ccc;
    padding: 15px;
    min-height: 250px;
  }

  .detalhesContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

  .detalhesContainer .card-text {
    font-weight: bold;
    font-size: 1.1em;
  }
</style>